//= modules/header.html
<div ng-controller="pageController">
    <div class="close-content" ng-if="view_content">
        //= modules/menu.html
        //= modules/banner.html
        //= modules/seo-text.html
        //= modules/order-list.html
        //= modules/footer-block.html
    </div>
    <div class="pages" ng-if="view_pages">
        //= modules/full-page-sauna.html
        //= modules/full-page-sauna-service.html
        //= modules/full-page-sauna-store.html
        //= modules/full-page-sauna-menu.html
        //= modules/full-page-sauna-contacts.html
    </div>
</div>
//= modules/footer.html