.modal {
  position:fixed;
  background: rgba(0,0,0,.5);
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:none;
  justify-content: center;
  align-items: center;
  z-index: 100506;
  .content {
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
.modal.active {
  display:flex;
}