<div class="full-page" ng-if="view_page === 'restaran'">
    <div class="button-back" ng-click="viewMainPage()">
        <img src="images/svg/back-w.svg">
    </div>
    <div class="slider">
        <slick class="full-page-slide restaran-menu"
               variable-width="true"
               arrows="false"
               dots="false"
               slides-to-show="1"
               infinite="true"
               speed="500">
            <div><img src="images/slides/slide-3.png"></div>
            <div><img src="images/slides/slide-3.png"></div>
        </slick>

        <div class="sauna one-item">
            <div class="header">
                Меню ресторанна
            </div>
        </div>

        <div class="menu-block" ng-repeat="cat in menu">
            <div class="header">{{cat.name}}</div>
            <div class="row" ng-repeat="item in cat.items">
                <div class="weight">{{item.weigth}}</div>
                <div class="name">{{item.name}}</div>
                <div class="price">{{item.price}} руб.</div>
            </div>
        </div>

    </div>
</div>