<div class="full-page" ng-if="view_page === 'store'">
    <div class="button-back relative" ng-click="viewMainPage()">
        <img src="images/svg/back-b.svg">
    </div>
    <div class="slider">
        <div class="sauna">
            <div class="header">
                Аксессуары для бани
            </div>
        </div>
        <div class="text">
            Какая баня без хорошего березового или елового веника
        </div>

        <div class="catalog">
            <div class="btn active">Для Мужчин</div>
            <div class="btn">Для Женщин</div>
        </div>

        <slick class="variable-width"
               variable-width="true"
               arrows="false"
               dots="false"
               slides-to-Show="1"
               infinite="true"
               speed="500">
            <div class="good">
                <div class="good-wrap">
                    <img class="good-image" src="images/good/good-1.png">
                    <div class="good-name">
                        Веник дубовый
                    </div>
                    <div class="good-price">
                        300 руб.
                    </div>
                    <div class="">
                        <div class="order">
                            <div class="control">
                                <div class="buttons">
                                    <div class="btn decrement disabled">-</div>
                                    <div class="result">1</div>
                                    <div class="btn  increment">+</div>
                                </div>
                            </div>
                            <a class="order-btn button">ЗАКАЗАТЬ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="good">
                <div class="good-wrap">
                    <img class="good-image" src="images/good/good-1.png">
                    <div class="good-name">
                        Веник дубовый
                    </div>
                    <div class="good-price">
                        300 руб.
                    </div>
                    <div class="">
                        <div class="order">
                            <div class="control">
                                <div class="buttons">
                                    <div class="btn decrement disabled">-</div>
                                    <div class="result">1</div>
                                    <div class="btn  increment">+</div>
                                </div>
                            </div>
                            <a class="order-btn button">ЗАКАЗАТЬ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="good">
                <div class="good-wrap">
                    <img class="good-image" src="images/good/good-1.png">
                    <div class="good-name">
                        Веник дубовый
                    </div>
                    <div class="good-price">
                        300 руб.
                    </div>
                    <div class="">
                        <div class="order">
                            <div class="control">
                                <div class="buttons">
                                    <div class="btn decrement disabled">-</div>
                                    <div class="result">1</div>
                                    <div class="btn  increment">+</div>
                                </div>
                            </div>
                            <a class="order-btn button">ЗАКАЗАТЬ</a>
                        </div>
                    </div>
                </div>
            </div>
        </slick>

    </div>
</div>