<div class="full-page" ng-if="view_page === 'sauna'">
    <div class="button-back" ng-click="viewMainPage()">
        <img src="images/svg/back-w.svg">
    </div>
    <div class="slider">

        <slick ng-if="sliderOn" class="full-page-slide sauna-slide"
               variable-width="true"
               arrows="false"
               dots="true"
               slides-to-show="1"
               infinite="true"
               center-mode="true"
               speed="500">
            <div ng-repeat="image in sauna_choose.images">
                <img src="{{ image }}">
            </div>
        </slick>

        <div class="sauna">
            <div class="header">
                Интерьеры бани
            </div>
            <div ng-click="showChooseSauna()">
                <span class="name">{{ sauna_choose.name }}</span><span ng-if="sauna_choose.vip" class="vip">VIP</span>
                <div class="guest">Сауна на {{sauna_choose.max_guest}} чел.</div>
            </div>
        </div>

        <div class="price-date">

            <div class="price">
                <div class="realprice">{{ sauna_choose.price }} руб./час</div>
                <div class="row-2">мин. заказ {{ sauna_choose.min_h }} часа</div>
            </div>

            <div class="date" ng-click="showChooseDATE()">
                <div class="row-1">
                    <img src="images/svg/timetable-b.svg"> {{ (order.sauna.id)?orderDate("date"):"Выбирите" }}
                </div>
                <div class="row-2" ng-if="order.sauna.id">
                    {{orderDate("starttime")}} - {{orderDate("endtime")}}
                </div>
            </div>

        </div>

        <div class="order">
            <div class="control">
                <div class="buttons">
                    <div class="btn decrement disabled" ng-click="saunaMansCount(-1)">-</div>
                    <div class="result">{{ order.sauna.guest }}</div>
                    <div class="btn  increment" ng-click="saunaMansCount(1)">+</div>
                </div>
                <p class="dop">кол. человек<br>+ {{ sauna_choose.guest_overprice }} руб.** </p>
            </div>
            <a class="order-btn button" ng-click="buttonOrderSauna(sauna_choose)">ЗАКАЗАТЬ</a>
        </div>

        <div class="in-order">
            <p>В стоимость входит:</p>
            <div class="row">
                <div ng-repeat="option in sauna_choose.options">{{option}}</div>
            </div>
        </div>

        <div class="last-text">
            Дополнительно оплачивается: 1) *Караоке. 2) **За каждого дополнительного гостя в номерах взимается плата в размере 100 руб. с человека в час.
        </div>
    </div>
</div>

<div class="modal {{ booleanChooseSauna?'active':'closed' }}">
    <div class="content">
        <div class="select-list-sauna">
            <div class="header">Выберите баню</div>
            <div class="close" ng-click="closeChooseSauna()">
                <img src="images/svg/close.svg">
            </div>

            <div class="option {{sauna.choose?'active':'gray'}}" ng-repeat="sauna in sauna_list" ng-click="chooseSauna(sauna)">
                <div class="name">
                    {{sauna.name}} <span class="vip">VIP</span>
                </div>
                <div class="name">
                    {{ currency(sauna.price) }}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal {{ booleanChooseDATE?'active':'closed' }}" >
    <div class="content">
        <datatime sauna-id="sauna.choose.id"
                  pick-date-controller="pickdate"
                  close-date-modal="closemodal"
                  min-order-hours="sauna_choose.min_h"
                  get-hour-by-current-day-sauna="getOrderTimeOfDateSauna"
        >
        </datatime>
    </div>
</div>

