<div class="full-page" ng-if="view_page === 'service'">
    <div class="button-back" ng-click="viewMainPage()">
        <img src="images/svg/back-w.svg">
    </div>
    <div class="slider">
        <slick class="full-page-slide sauna-slide"
               variable-width="true"
               arrows="false"
               dots="true"
               slides-to-show="1"
               infinite="true"
               speed="500">
            <div><img src="images/slides/slide-1.png"></div>
            <div><img src="images/slides/slide-2.png"></div>
            <div><img src="images/slides/slide-3.png"></div>
        </slick>

        <div class="sauna">
            <div class="header">
                Услуги бани
            </div>
            <div class="name" ng-click="viewServiceChooser(true)">
                Банщик
            </div>
        </div>

        <div class="price-date order no-top-padding">
            <div class="price">
                <div class="realprice">2 499 руб.</div>
                <div class="row-2">Стоимость услуг</div>
            </div>
            <a class="order-btn button">ЗАКАЗАТЬ</a>
        </div>



        <table class="service-order">
            <tr class="header-row">
                <th colspan="2">
                    Наименованиие
                </th>
                <th>
                    время
                </th>
                <th>
                    стоимость
                </th>
            </tr>

            <tr class="item">
                <td>
                    1.
                </td>
                <td>
                    Парение классическое
                </td>
                <td>
                    30 мин
                </td>
                <td>
                    4 499 руб.
                </td>
            </tr>



            <tr>
                <td class="break" colspan="5"></td>
            </tr>

            <tr class="item-order">
                <td>
                    <label class="container-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    Парение классическое
                </td>
                <td>
                    30 мин
                </td>
                <td>
                    4 499 руб.
                </td>
            </tr>

            <tr class="item-order">
                <td>
                    <label class="container-checkbox">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </td>
                <td>
                    Парение классическое
                </td>
                <td>
                    30 мин
                </td>
                <td>
                    4 499 руб.
                </td>
            </tr>

        </table>

    </div>
</div>

<div class="modal {{ booleanChooseService?'active':'closed' }}">
    <div class="content">
        <div class="select-list-sauna">
            <div class="header">Услуги</div>
            <div class="close" ng-click="viewServiceChooser(false)">
                <img src="images/svg/close.svg">
            </div>

            <div class="option {{service.choose?'active':'gray'}}" ng-repeat="service in services" ng-click="chooseService(service)">
                <div class="name">
                    {{service.name}}
                </div>
            </div>

        </div>
    </div>
</div>