<div class="full-page" ng-if="view_page === 'contacts'">
    <div class="button-back relative" ng-click="viewMainPage()">
        <img src="images/svg/back-b.svg">
    </div>
    <div class="h1 center padding-top">Как добраться</div>
    <div class="step">
        <b>от м.Выхино:</b> - автобус № 722  (ост. 1-я Вольская,17)<br>
        - маршрутное такси № 722 (ост. 1-я Вольская, 17)
    </div>

    <div class="step">
        <b>от м.Братиславская:</b> маршрутное такси № 942<br>
        (ост. 1-я Вольская,17)
    </div>

    <div class="step">
        <b>Новокосино:</b> автобус № 723 (ост. 1-я Вольская,17)
    </div>

    <div class="step">
        <b>Кожухово:</b> автобус № 726 (ост. 1-я Вольская,17)
    </div>

    <div class="step">
        <b>От ж/д ст. Люберцы:</b> маршрутное такси № 9; № 14
    </div>

    <div class="step">
        <b>"Новая Некрасовка"</b> (от 4-й мик.р-он Кожухово) автобус № 849 (ост. Управа р-на Некрасовка)
    </div>

    <img src="images/map.png">

    <div class="h1 center padding-top">Контакты</div>
    <address>
        г. Москва, р-н Некрасовка, 1-я Вольская ул., дом. 26
    </address>
    <a class="phone">
        +7 (495) 706-85-97
    </a>
    <div class="work-time">Режим работы: <b>круглосуточно</b></div>

    <div class="footer-menu">
        <div class="col">
            <a href="#">Баня</a>
            <a href="#">Сауна</a>
            <a href="#"> Хаммам</a>
        </div>
        <div class="col">
            <a href="#">Караоке</a>
            <a href="#">Меню ресторана</a>
            <a href="#">Услуги</a>
        </div>
    </div>
    <div class="footer">
        <div class="email">info@banynekrasovka.ru</div>
        <div class="common">Присоединяйтесь к нам в социальных сетях</div>
        <div class="social"><img src="images/social.png"></div>
    </div>
</div>