<div class="order-list">
    <div class="header h1">
        Забронировать Баню в Москве
    </div>
    <div class="list">

        <div class="list-item" ng-click="viewPage('sauna')">
            <div class="item-list-header">Выберите баню <img src="images/svg/arrow-right.svg"></div>
            <div class="in-order">
                <div class="in-orde-item">{{ order.sauna.name }} <span class="price">{{ currency(order.sauna.price) }}</span></div>
                <div class="date">{{ viewTime(order.sauna.datetime) }}</div>
            </div>
        </div>

        <div class="list-item" ng-click="viewPage('service')">
            <div class="item-list-header">Услуги бани <img src="images/svg/arrow-right.svg"></div>
            <div class="in-order">
                <div class="in-orde-item" ng-if="order.service.length" ng-repeat="service in order.service">{{ service.id }} <span class="price">{{ service.price }} руб.</span></div>
                <div class="in-orde-item" ng-if="!order.service.length">Дополнительные банные услуги</div>
            </div>
        </div>

        <div class="list-item"  ng-click="viewPage('store')">
            <div class="item-list-header">Аксессуары для бани <img src="images/svg/arrow-right.svg"></div>
            <div class="in-order">
                <div class="in-orde-item ">Банный веник <span class="price">3 170 руб.</span></div>
                <div class="in-orde-item ">Скраб для тела <span class="price">2 170 руб.</span></div>
            </div>
        </div>

        <div class="list-item"  ng-click="viewPage('restaran')">
            <div class="item-list-header">Меню ресторана <img src="images/svg/arrow-right.svg"></div>
            <div class="in-order">
                <div class="in-orde-item ">Пиво <span class="price">3 170 руб.</span></div>
                <div class="in-orde-item ">Закуски к пиву <span class="price">2 170 руб.</span></div>
            </div>
        </div>

        <div class="list-item"  ng-click="viewPage('contacts')">
            <div class="item-list-header">Как добраться <img src="images/svg/arrow-right.svg"></div>
            <div class="in-order">
                <div class="in-orde-item one-string">Адрес</div>
                <div class="in-orde-item one-string">Контакты</div>
            </div>
        </div>

        <div class="list-item green" ng-click="orderProcess()">
            <div class="item-list-header">Забронировать баню <img src="images/svg/arrow-right-w.svg"></div>
            <div class="in-order">
                <div class="in-orde-item sum">Итого <span class="price">3 170 руб.</span></div>
            </div>
        </div>

    </div>
</div>